<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Menu</h2>
                <hr class="light">
                <p class="text-faded">Our menu is never done. Every dish at RESTAURANT has it's own story from the traditional 
				recipes direct from Lebanon, to modern updates that tell the history of our team, of our cooks and chefs 
				who have left their mark on our kitchen, and our serving staff and managers who have been ambassadors of hospitality. 
				Our menu is never done - we find inspiration all around, in new ingredients, new approaches, and fresh takes on old standards.</p>
                <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
            </div>
        </div>
    </div>
</section>