<section id="contact">
    <div class="container" ng-controller="ContactController">
        <div class="row">
                <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Call Us</h2>
                        <hr class="primary">
                        <div class="row row-content">
                           <div class="col-xs-12">
                              <h3>Send us your Feedback</h3> 
                           </div>
                            <div class="col-xs-12 col-sm-9" ng-controller="FeedbackController">
                                <form class="form-horizontal" name="feedbackForm" ng-submit="sendFeedback()" novalidate>
                                     <div class="form-group" ng-class="{ 'has-error' : feedbackForm.firstname.$error.required && !feedbackForm.firstname.$pristine }">
                                        <label for="firstname" class="col-sm-2 control-label">First Name</label>
                                        <div class="col-sm-10">
                                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name"
                                        ng-model="feedback.firstName" required>
                                         <span ng-show="feedbackForm.firstname.$error.required && !feedbackForm.firstname.$pristine" class="help-block">Your First name is required.</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="{ 'has-error' : feedbackForm.lastname.$error.required && !feedbackForm.lastname.$pristine }">
                                        <label for="lastname" class="col-sm-2 control-label">Last Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name"
                                        ng-model="feedback.lastName" required>
                                        </div>
                                        <span ng-show="feedbackForm.lastname.$error.required && !feedbackForm.lastname.$pristine" class="help-block">Your Last name is required.</span>
                                    </div>
                                    <div class="form-group"  ng-class="{ 'has-error has-feedback' : feedbackForm.emailid.$invalid && !feedbackForm.emailid.$pristine }">
                                        <label for="emailid" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email"
                                            ng-model="feedback.email" required>
                                            <span ng-show="feedbackForm.emailid.$invalid && !feedbackForm.emailid.$pristine" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                        <span ng-show="(feedbackForm.emailid.$invalid ||
                                                        feedbackForm.emailid.$error.required) &&
                                                        !feedbackForm.emailid.$pristine"
                                             class="help-block">Enter a valid email address.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="telnum" class="col-sm-2 control-label">Subject</label>
                                        <div class="col-sm-10">
                                            <select class="form-control"
                                               ng-model="feedback.mysubject"
                                               ng-options="subject.value as subject.label for subject in subjects">
                                                <option value="">Your subject?</option>
                                            </select>
                                            <span ng-show="invalidSubjectSelection" class="help-block">Select an option.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="feedback" class="col-sm-2 control-label">Your Feedback</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="12"
                                                ng-model="feedback.comments">
                                            </textarea>
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                             <button type="submit" class="btn btn-primary" ng-disabled="feedbackForm.$invalid">Send Feedback</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                              <h3>Your Current Feedback:</h3>
                              <p>{{feedback.firstName}} {{feedback.lastName | uppercase }}</p>
                              <p>Contact Email: {{feedback.email}}</p>
                              <p>Subject: {{feedback.mysubject}}</p>
                              <p>Comments: {{feedback.comments}}</p>
                            </div>
                       </div>
                    </div>
                    <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Or</h2>
                                <hr class="primary">
                        </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:your-email@your-domain.com">feedback@restaurant.com</a></p>
            </div>
        </div>
    </div>
</section>