<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a ui-sref="app.menu" class="btn btn-default btn-xl sr-button">
                    << Menu</a> <h2 class="section-heading">Dish Information</h2>
                        <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" ng-controller="dishInfoController">
            <div class="col-lg-12 col-md-12">
                <div class="media-list">
                    <div class="media">
                        <div class="media-left media-top">
                            <a href="#">
                                <img class="media-object img-thumbnail" ng-src={{dish.image}} alt="dish" />
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{dish.name}}
                                <span class="label label-danger label-xs">{{dish.label}}
                                </span>
                                <span class="badge">{{dish.price | currency}}
                                </span>
                            </h2>
                            <p>{{dish.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>