<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Menu</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" ng-controller="menuController ">
            <div class="navbar-collapse">
                <ul class="list-inline">
                    <li>
                        <h4>
                            <a ng-class="{'label label-default':isSelected('')}" ng-click="filter('')">All</a>
                        </h4>
                    </li>
                    <li>
                        <h4>
                            <a ng-class="{'label label-default':isSelected('Soups')}" ng-click="filter('Soups')">Soups</a>
                        </h4>
                    </li>
                    <li>
                        <h4>
                            <a ng-class="{'label label-default':isSelected('Drinks')}" ng-click="filter('Drinks')">Drinks</a>
                        </h4>
                    </li>
                    <li>
                        <h4>
                            <a ng-class="{'label label-default':isSelected('Hot Dishes')}" ng-click="filter('Hot Dishes')">Hot Dishes</a>
                        </h4>
                    </li>
                </ul>
            </div>

            <div class="col-lg-12 col-md-12">
                <ul class="media-list">
                    <li class="media" ng-repeat="dish in menu | filter:filterText">
                        <div class="media-left media-top">
                            <a ui-sref="app.dishinfo({id: dish.id_})">
                                <img class="media-object img-thumbnail" ng-src={{dish.image}} alt="dish" />
                            </a>
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">{{dish.name}}
                                <span class="label label-danger label-xs">{{dish.label}}
                                </span>
                                <span class="badge">{{dish.price | currency}}
                                </span>
                            </h2>
                            <p>{{dish.description}}</p>
                            <div class="well well-lg" uib-collapse="!showComment">

                                <p ng-show="showComment"> Comment : {{ dish.comment }} </p>
                                <p ng-hide="!showComment">
                                    <i class="fa fa-2x fa-comment-o text-primary sr-icons"></i>
                                    Type your comment:
                                    <input type="text" ng-model="dish.comment" />
                                </p>
                            </div>
                            <button ng-click="viewComment()">
                                {{ showComment ? 'Hide comment &raquo;' : 'View comment &raquo;' }}
                            </button>
                        </div>
                    </li>
                </ul>
                <div class="well well-lg" ng-controller="NewDishController">
                    <form class="form-horizontal" name="dishForm" ng-submit="sendDish()" novalidate>
                        <div class="form-group" ng-class="{ 'has-error' : dishForm.dishName.$error.required && !dishForm.dishName.$pristine }">
                            <label for="dishName" class="col-sm-2 control-label">Dish Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="dishName" name="dishName" placeholder="Enter Dish Name"
                                    ng-model="newDish.name" required>
                                <span ng-show="dishForm.dishName.$error.required && !dishForm.dishName.$pristine" class="help-block">Your
                                    Dish name is required.</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : dishForm.dishLable.$error.required && !dishForm.dishLable.$pristine }">
                            <label for="dishLable" class="col-sm-2 control-label">Dish Label</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="dishLable" name="dishLable" placeholder="Enter Dish Label"
                                    ng-model="newDish.label" required>
                                <span ng-show="dishForm.dishLable.$error.required && !dishForm.dishLable.$pristine"
                                    class="help-block">Your Dish label is required.</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : dishForm.dishPrice.$error.required && !dishForm.dishPrice.$pristine }">
                            <label for="dishPrice" class="col-sm-2 control-label">Dish Price</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="dishPrice" name="dishPrice" placeholder="Enter Dish Price"
                                    ng-model="newDish.price" required>
                                <span ng-show="dishForm.dishPrice.$error.required && !dishForm.dishPrice.$pristine"
                                    class="help-block">Your Dish price is required.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dishDescription" class="col-sm-2 control-label">Your Dish description</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="12" ng-model="newDish.description">
                                    </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary" ng-disabled="dishForm.$invalid">Add Dish</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>